[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"httplib2" = "*"
google-api-python-client = "*"
PyYAML = "*"
pysimplegui = "*"

[dev-packages]

[requires]
python_version = "3.6"
